<div class="panel panel-default">
  <div class="panel-body">
    <form id="document-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Data for this Date:</label>
          <input
            type="date"
            id="name"
            class="form-control"
            size="120"
            max="120"
            name="name"
            [ngModel]=document?.name
            required
            #name="ngModel">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="knocks">Knocks:</label>
          <input
            type="number"
            id="knocks"
            class="form-control"
            size="120"
            max="255"
            name="knocks"
            [ngModel]=document?.knocks
            required
            #knocks = "ngModel">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="answers">Answers:</label>
          <input
            type="number"
            id="answers"
            class="form-control"
            size="150"
            max="255"
            name="answers"
            [ngModel]=document?.answers
            required
            #answers="ngModel">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="sets">Sets:</label>
          <input
            type="number"
            id="sets"
            class="form-control"
            size="150"
            max="255"
            name="sets"
            [ngModel]=document?.sets
            required
            #sets="ngModel">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="sets">Total Time In Hours:</label>
          <input
            type="number"
            id="totalTime"
            class="form-control"
            size="150"
            max="255"
            name="totalTime"
            [ngModel]=document?.totalTime
            required
            #totalTime="ngModel">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="sets">Props Run:</label>
          <input
            type="number"
            id="propsRun"
            class="form-control"
            size="150"
            max="255"
            name="propsRun"
            [ngModel]=document?.propsRun
            required
            #propsRun="ngModel">
        </div>
      </div>

      <div class="alert alert-danger" *ngIf="!f.valid && f.touched">
        The Data date and knocks are required fields.
      </div>
      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>

    </form>

  </div>
</div>
