<div class="panel panel-default">
  <div class="panel-body">
    <form id="login-edit" (submit)="onLogin(f)" #f="ngForm">
      <h3>Login Here</h3>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="username">Email:</label>
          <input type="email" name="email" ngModel #emailInput="ngModel" class="form-control" required email>
          <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="password">Password:</label>
          <input type="text" name="password" ngModel #passwordInput="ngModel" class="form-control" required>
          <mat-error *ngIf="!passwordInput.valid">Please enter a valid password.</mat-error>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <span class="pull-left btn btn-toolbar" [routerLink]="['/signup']">No account? Sign Up Here</span>
          <div class="row pad-left-right">
            <ul class="pull-right">
              <button class="btn btn-primary" [routerLink]="['/login']">Login</button>
          </ul>
          </div>
        </div>
      </div>

    </form>

  </div>
</div>


