<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><b>Client List</b></h3>
      <span class="pull-right">
        <button [routerLink]="['new']" class="btn btn-success">New Deal</button>
      </span>
    </div>
    <div class="row">
      <div class="input-group col-xs-8" style="margin-left: 30px; margin-top: 10px">
        <input #searchBox class="form-control" placeholder="Enter a seach value..." (keyup)="search(searchBox.value)">
        <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <cms-contact-item *ngFor="let contact of contacts | contactsFilter:term" [contact]="contact"
          dnd-draggable [dragEnabled]="true" [dragData]="contact" [dropZones]="['contactGroup']">
          </cms-contact-item>
        </div>
      </div>
    </div>
  </div>
</div>
