/* You can add global styles to this file, and also import other style files */
.logo{
  float: left;
  padding: 5px;
  max-width: 150px;
  max-height: 50px;
}

/* *, body{
  background-color: rgb(0, 0, 0); */
  /* color: #ffc82c; */
  /* color: #fbff01; */
  /* color: #ffffff;
  font-family: Avenir Next, sans-serif;
}

.panel-body, .list-group-item, .navbar, .navbar-default, .container-fluid, .container, .body{
  background-color: black;
  color: white; */
  /* padding: 16px; */
  /* border:rgb(255, 255, 255) 2px solid; */
/* } */

.panel-heading{
  background-color: black;
  color: white;
  padding: 2px;
  border:rgb(255, 255, 255) 2px solid;
}

.row{
  margin: 0px;
}
