<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
              <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
              </button>
              <!-- <a href="#" class="nav-logo"><img src="../../assets/images/sigoraLogo.png" alt="logo" class="logo"></a> -->
              <a href="#" class="nav-logo"><img src="../../assets/images/OnSolar.png" alt="logo" class="logo"></a>
      </div>
      <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
          <ul class="nav navbar-nav">
              <li routerLinkActive="active"><a [routerLink]="['/dailydata']">Daily Data</a></li>
              <li routerLinkActive="active"><a [routerLink]="['/customers']">Clients</a></li>
              <li routerLinkActive="active"><a [routerLink]="['/calcCommission']">Commission Calculator</a></li>
              <li routerLinkActive="active"><a [routerLink]="['/targets']">Goals</a></li>
              <!-- <li routerLinkActive="active"><a [routerLink]="['/goals']">Goals</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a [routerLink]="['/login']">Login</a></li>
          </ul>
      </div>
  </div>
</nav>
