<div class="panel panel-default">
  <div class="panel-body">
    <!-- <form id="document-edit" (ngSubmit)="onSubmit(f)" #f="ngForm"> -->
    <form id="document-edit">
      <h3>Login Here</h3>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="username">Username:</label>
          <input
            type="test"
            id="username"
            class="form-control"
            size="120"
            max="120"
            name="username"
            required>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="password">Password:</label>
          <input
            type="text"
            id="knocks"
            class="form-control"
            size="120"
            max="255"
            name="password"
            required>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit">Save</button>
          <div class="row pad-left-right">
            <span class="pull-right">No account?
            <ul class="pull-right">
              <button class="btn btn-primary" [routerLink]="['/signup']">Signup</button>
          </ul>
        </span>
          </div>
        </div>
      </div>

    </form>

  </div>
</div>


