<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row pad-left-right">
        <span class="pull-left title">Commission Calculator</span>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <form class="main-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
              <label for="systemSize">System Size: </label>
              <input
                type="number"
                id="systemSize"
                placeholder="System Size"
                name="systemSize"
                class="form-control"
                [ngModel]= commission?.systemSize
                #systemSize="ngModel">

              <label for="totalCustomerCost">Total Cost: </label>
              <input
                type="number"
                id="totalCustomerCost"
                placeholder="Total Cost"
                name="totalCustomerCost"
                class="form-control"
                [ngModel]= commission?.totalCustomerCost
                #totalCustomerCost="ngModel">

              <label for="dealerFee">Dealer Fee: </label>
              <input
                type="number"
                id="dealerFee"
                placeholder="Dealer Fee"
                name="dealerFee"
                class="form-control"
                [ngModel]= commission?.dealerFee
                #dealerFee="ngModel">

              <label for="adders">Adders: </label>
              <input
                type="number"
                id="adders"
                placeholder="Adders"
                name="adders"
                class="form-control"
                [ngModel]= commission?.adders
                #adders="ngModel"
                style="margin-bottom: 15px;">


                <div class="col text-center">
                  <button
                    class="btn btn-success"
                    type="submit"
                    [disabled]="!f.valid">
                    Submit</button>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
