<!-- <p>target-edit works!</p> -->
<div class="panel panel-default">
  <div class="panel-body">
    <form id="target-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Start Date:</label>
          <input
            type="date"
            id="startDate"
            class="form-control"
            name="startDate"
            [ngModel]=target?.startDate
            required
            #startDate="ngModel">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">End Date:</label>
          <input
            type="date"
            id="endDate"
            class="form-control"
            name="endDate"
            [ngModel]=target?.endDate
            required
            #endDate="ngModel">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Commission Goal:</label>
          <input
            type="number"
            id="commissGoal"
            class="form-control"
            name="commissGoal"
            [ngModel]=target?.commissGoal
            required
            #commissGoal="ngModel">
        </div>
      </div>

      <div class="alert alert-danger" *ngIf="!f.valid && f.touched">
        The Data date and knocks are required fields.
      </div>
      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>

    </form>

  </div>
</div>
