<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row pad-left-right">
        <span class="pull-left title">Commissions</span>
        <a [routerLink]="['new']" class="btn btn-success pull-right">Calculate New Commission</a>
      </div>
    </div>
    <div class="panel-body">
      <div class="center-panel">
        <commission-item
        *ngFor="let commission of commissions;"
        [commission]="commission"></commission-item>
      </div>
    </div>
  </div>
