<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row pad-left-right">
        <span class="pull-left title">Commission Calculator</span>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <form class="main-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
              <label for="sysSize">System Size: </label>
              <input
                type="number"
                id="sysSize"
                placeholder="System Size"
                name="sysSize"
                class="form-control"
                [ngModel]= "['sysSize']"
                #sysSize="ngModel">

              <label for="totalCost">Total Cost: </label>
              <input
                type="number"
                id="totalCost"
                placeholder="Total Cost"
                name="totalCost"
                class="form-control"
                [ngModel]= "['totalCost']"
                #totalcost="ngModel">

              <label for="dealerFee">Dealer Fee: </label>
              <input
                type="number"
                id="dealerFee"
                placeholder="Dealer Fee"
                name="dealerFee"
                class="form-control"
                [ngModel]= "['dealerFee']"
                #dealerFee="ngModel">

              <label for="adders">Adders: </label>
              <input
                type="number"
                id="adders"
                placeholder="Adders"
                name="adders"
                class="form-control"
                [ngModel]= "['adders']"
                #adders="ngModel"
                style="margin-bottom: 15px;">

                <div class="col text-center">
                  <button
                    [routerLink]="['commission']"
                    class="btn btn-success"
                    type="submit"
                    [disabled]="!f.valid">
                    Submit</button>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
